:root {
  --pri: #ffffff;
  --sec: #ff4654;
  --ter: #233046;
  --bg: #111823;
  --shadow: #53191f;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--sec);
}

.catchline {
  text-align: center;
  margin-top: 0;
  margin-left: 2rem;
  font-size: .8em;
  font-weight: normal;
  color: var(--pri);
}

.divider {
  margin-right: 2rem;
  margin-left: 2rem;
  border: 1px solid var(--ter);
}

.placeholder {
  gap: 2;
  display:flex;
  color: var(--shadow);
  text-transform: uppercase;
  margin-bottom: 0;
}

/* .main-content {
  display: flex;
  flex-direction: row;
  margin: 0;
  flex: 1;
  justify-content: center;
} */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 0 0 1rem 0;
  /* flex: 1; */
  /* width: 50%; */
}

.filter-btn {
  font-size: medium;
  padding: 1rem;
  color: var(--pri);
  background-color: var(--bg);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  flex: 0 1 150px;
}

.filter-btn:hover {
  background-color: var(--sec);
  transition: 0.3s ease;
}

.agent {
  display: flex;
  justify-content: center;
}

.section-title {
  display: flex;
  flex-wrap: wrap;
  margin-left:2rem;
  margin-right: 2rem;
  color: var(--sec);
  font-weight:bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.section-title p {
  margin-right: 1rem;
}

.section-title p:hover {
  cursor: pointer;
  color: var(--pri);
  text-decoration: underline;
  transition: 0.3s ease;
}

.agent-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem 0 2rem;
  justify-content: center;
}

.agent-card {
  background-color: var(--ter);
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  color: var(--pri);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.agent-card img {
  width: auto;
  height: 200px;
}

.agent-card:hover {
  transform: scale(1.05);
}

.img-container {
  width: 200px;
  height: 60%;
  background-color: var(--bg);
  border-radius: 8px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.wrapper {
  width: 100%;
  margin-bottom: 0.5rem;
}

.agent-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.footer {
  text-align: center;
  color: var(--pri);
  background-color: var(--sec);
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 0;
}

.audio {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--sec);
  border: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.audio:hover {
  background-color: var(--shadow);
  transition: 0.3s ease;
}

.fa-solid {
  color: var(--pri);
}

.agent-role {
  font-style: italic;
  font-weight: 250;
}

.modal {
  position: fixed;
  z-index: 1000;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content{
  color: var(--pri);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--sec);
  width: 80%;
  max-width: 800px;
  position: relative;
  background-color: var(--bg);
}

.modal-body {
  display: flex;
  gap: 20px;
}

.agent-desc {
  flex: 1;
  color: var(--pri);
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--sec);
  text-decoration: none;
}